:root{
  background-color: #FEFAE0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search {
  padding: 5px 100px;
  font-size: 1.3rem;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #283618;
}

.search::placeholder{
  color: #283618 ;
}

.search1 {
  padding: 6px 20px;
  font-size: 1.3rem;
  background: none;
  border: none;
  cursor: pointer;
}

.search1:hover {
  transform: scale(1.9);
}

.TITLE2 {
  font-size: 2rem;
  font-family: 'Dosis', sans-serif;
  color: #283618;
}

.title3 {
  font-family: 'Dosis', sans-serif;
  color: white;
  background-color: #283618;
  padding: 7px;
  width: 80%;
  margin: auto;
}

.tite3:hover {
  color: white;
  font-family: "Monofett", cursive;
}

.hero {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#606c3844, #2836181a),
    url(books.jpg.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  font-family: "Monofett", cursive;
}

.formBox {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background-color: #fefae0e6;
  padding: 5px;
  border-radius: 40px;
  font-family: "Monofett", cursive;
}

.button-box {
  width: 220px;
  font-family: "Monofett", cursive;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #5353101f;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  color:#FEFAE0;
  font-family: "Anek Malayalam", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  border: 0.5px;
  outline: none;
  position: relative;
}
.toggle {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  color:#283618;
  font-family: "Anek Malayalam", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  border: 0.5px;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  font-family: "Roboto", sans-serif;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #DDA15E, #BC6C25);
  border-radius: 30px;
  transition: 0.5s;
}

.title {
  font-family: "Fredericka the Great", cursive;
  font-size: 6rem;
  color: #fefae0e6;
  border-radius: 25px;
  top: 200px;
  width: 45%;
  background-color: #283618c1;
  margin: 20px auto;
}

#btn2 {
  top: 0;
  left: 110px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #DDA15E, #BC6C25);
  border-radius: 30px;
  transition: 0.5s;
}
.input-group {
  top: 180px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  position: absolute;
  width: 280px;
  transition: 0.5s;

}

.subtitle1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #283618;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #283618;
  outline: none;
  background: transparent;
}

.input-field::placeholder {
  color:#283618;
  font-size: 1rem;
  font-family: 'Dosis', sans-serif;
}

.input-field2::placeholder {
  color:#283618;
  font-size: 1rem;
  font-family: "Monofett", cursive;
}

.input-field3::placeholder {
  color:#283618;
  font-size: 1rem;
  font-family: "Monofett", cursive;
}
.input-field6 {
  width: 10%;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  font-weight: bold;
  outline: none;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.input-field2 {
  width: 100%;
  padding: 20px 40px;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.input-field3 {
  width: 80%;
  padding: 20px 40px;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: #283618a0;
  color: white;
  border-radius: 15px;
}

.select1 {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 10px 40px;
  font-size: 1.1rem;
  border-radius: 20px;
  background: transparent;
  border: 3px solid #283618;
}

.summit-btn {
  color: #FEFAE0;
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #DDA15E, #BC6C25);
  border: 0;
  outline: none;
  border-radius: 30px;
  font-family: "Anek Malayalam", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
}

.summit-btn2 {
  border: 3px solid #141414;
  width: 50%;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: auto;
  color: #FEFAE0;
  background: linear-gradient(to right, #606C38, #283618);
  outline: none;
  border-radius: 30px;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-top: 20px;
}

.summit-btn3 {
  width: 20%;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #606C38, #283618);
  border: 10px;
  color: #FEFAE0;
  border: 5px solid #606C38;
  outline: none;
  border-radius: 30px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}

.summit-btn3:hover,
.summit-btn2:hover {
  transform: scale(0.9);
  background-color: rgba(176, 83, 204, 0.288);
  color: #FEFAE0;
  border: 3px solid #FEFAE0;
}

.buttonReview {
  display: flex;
  flex-direction: row;
}

.summit-btn4 {
  padding: 10px 30px;
  cursor: pointer;
  margin: auto;
  background: linear-gradient(to right, #ec3820);
  border: 10px;
  outline: none;
  border-radius: 30px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.inputReading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
.columnsbboks {
  display: flex;
  flex-direction: line;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}
.summit-btn5 {
  padding: 10px 30px;
  cursor: pointer;
  margin: auto;
  background-color: transparent;
  outline: none;
  border-radius: 30px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.summit-btn6{
  padding: 10px 30px;
  cursor: pointer;
  margin: auto;
  background-color: #DDA15E;
  border: 5px solid #BC6C25;
  color: #FEFAE0;
  outline: none;
  border-radius: 30px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.summit-btn7 {
  font-size: 1.3rem;
  padding: 5px 5px;
  width: 50%;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  color:#FEFAE0;
  font-family: "Roboto", sans-serif;
}

.button a {
  text-decoration: none;
  color: white;
  font-family: "Monofett", cursive;
}

.summit-btn8 {
  padding: 5px 10px;
  width: 44%;
  cursor: pointer;
  color:  #FEFAE0;
  background: #DDA15E;
  border: 4px solid #BC6C25;
  outline: none;
  border-radius: 50px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
.buttom {
  background: transparent;
}

.colum {
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.booktit {
  font-family: "Monofett", cursive;
  border: 3px solid;
  border-radius: 10px;
  color: #283618;
  width: 80%;
  
}

.summit-btn7:hover {
  transform: scale(1.2);
}

.summit-btn4:hover {
  transform: scale(0.9);
  background-color: rgba(229, 21, 21, 0.87);
  color: white;
}

.summit-btn5:hover,
.summit-btn8:hover ,.summit-btn6:hover  {
  transform: scale(0.9);
  background-color: #283618;
  color: #FEFAE0;
}


#register {
  left: 50px;
}
#login {
  left: 50px;
}

.header {
  width: 100%;
  height: 100px;
}

.Navbar {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(fondoBuscador.jpg);
  background: #283618e1;
}

.division {
  width: 50%;
  background-color:  #606C38;
  height: 4px;
}

.container {
  top: 500px;
  width: 65%;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 0.5fr));
  grid-gap: 20px;
  box-sizing: border-box;
}

.container2 {
  top: 500px;
  width: 65%;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 0.5fr));
  grid-gap: 20px;
  box-sizing: border-box;
  margin-left: 20px;
}

.card {
  background-color:#606C38;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px #283618;
  transition: 0.5s;
  text-align: center;
  position: relative;
}

.card a {
  text-decoration: none;
}

.cardTBR {
  background-color: #283618;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 10px;
  box-shadow: 0 10px 10px #FEFAE0;
  transition: 0.5s;
  text-align: center;
  position: relative;
}

.title2{
  color: #fefae0e5;
}

.cardTBR img{
  border-radius: 10px;
  border: 2px solid #606C38;
}
.cardTBR:hover {
  transform: scale(0.9);
  background-color: #606C38;
  box-shadow: none;
  color: black;
  border: 2px solid #283618;
}

.cardTBR a{
  text-decoration: none;
}



.card img {
  width: 60%;
  height: 200px;
  border-radius: 10px;
  border: 2px solid #283618;
}

.card:hover {
  transform: scale(0.9);
  background-color: #DDA15E;
  box-shadow: none;
  border: 5px solid #283618;
}



.HomePage {
  background: #FEFAE0;
  height: 100%;
}

.MyBooks {
  background: linear-gradient(0.25turn, #DDA15E, #FEFAE0, #DDA15E );
  height: 100%;
  width: 100%;
  position: absolute;
}


.card .buttom {
  display: flex;
  flex-direction: column;
}

.card .buttom .title {
  font-size: 14px;
  margin-bottom: 12px;
  text-decoration: none;
}

.card .buttom .author {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  text-decoration: none;
}

.bookDetail {
  margin-top: 20px;
  width: 90%;
  min-height: 150px;
  display: flex;
  flex-direction: line;
  background: linear-gradient(to right, #DDA15E,#FEFAE0);
  margin-bottom: 10px;
  margin-left: 60px;
  border-radius: 30px;
  border: 4px solid #283618;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #283618;
}

.bookDetail img{
  border-radius: 30px;
  border: 5px solid #BC6C25;
}

.d{
  background-color: #FEFAE0;
  width: 100%;
  height: 100%;
}

.ratingH {
  width: 70%;
}

.detail1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 20px;
  color: #283618;
}

.detail1 img {
  height: 200px;
  width: 200px;
  margin-top: 40px;
}
.description {
  width: 50%;
  height: 100%;
  margin-top: 50px;
  margin-right: 60px;
  margin-bottom: 50px;
  font-family: 'Dosis', sans-serif;
  font-size: 1.3rem;
  color: #283618;
}

.logout {
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: #FEFAE0;
  border-radius: 30px;
  border-color: #FEFAE0;
  transition: transform 0.3s ease;
  font-size: 1.2rem;
  margin: 32px;
  padding: 10px 40px;
  position: relative;
}
.logout:hover {
  background-color: #FEFAE0;
  color: #283618;
}

.logout::after,
.logout::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background: #FEFAE0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.logout:hover {
  transform: translate(-12px, -12px);
}

.logout:hover::after {
  transform: translate(6px, 6px);
}

.logout:hover::before {
  transform: translate(12px, 12px);
}

.testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonial-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profile {
  display: flex;
  justify-content: left;
}

.name-user strong {
  color: #61641e;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}
.name-user {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.name-user span {
  font-size: 0.8rem;
  color: #606C38;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-comment {
  font-size: 1.3rem;
  color: #283618;
}

.YourRevew {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 30px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 50px;
  border: 5px solid #283618
}

.editReviewForm {
  width: 60%;
  margin: auto;
  border-radius: 30px;
}

.opt{
  background-color: #FEFAE0;
}


.addBookBut {
  width: 60%;
  margin: auto;
}

.labelStars {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  justify-content: left;
  font-display: left;
  text-align: left;
  margin-top: 20px;
}

.overlay {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back {
  background-image: linear-gradient(#606c3868, #28361846),
    url(books.jpg.jpg);
  width: 100%;
  height: 100%;
  position: fixed;
}
.overlay-inner {
  margin-top: 100px;
  background: #FEFAE0;
  width: 700px;
  height: 500px;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.3rem;
  border-radius: 20px;
  box-shadow: 6px 6px #283618;
  height: 100%;
  color:#283618;
}

.overlay-inner .close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  outline: none;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  background: transparent;
  text-decoration: none;
  color:#283618;
}

.overlay-inner .close:hover {
  transform: scale(1.2);
}

.overlay-inner .inner-box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
